.content {
    margin-bottom: $spacing-unit*2;
}

input {
    background-color: #292F40;
    padding: 3px 10px;
    border: 1px solid #474F64;
    border-radius: 3px;
    color: $text-color;
    font-size: 0.9em;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

.default-button {
    display: inline-block;
    background-color: #292F40;
    border: 1px solid $text-color;
    border-radius: 3px;
    color: $text-color;
    cursor: pointer;
    padding: 3px 10px;
    font-size: 0.9em;
    @include box-shadow(1);

    &:hover {
        border-color: $accent-color;
        color: $accent-color;
    }

    &:active {
        background-color: lighten(#292F40, 2%);
    }
}

a.default-button {
    text-decoration: none;
}
