.customize-radio-panel {
    .download-button-wrapper {
        text-align: center;
    }

    @include media-query($medium-breakpoint) {
        .column-wrapper {
            display: flex;

            .column {
                flex: 1;

                &:not(:last-child) {
                    margin-right: $spacing-unit/2;
                }
            }
        }
    }
}
