.header-wrapper {
    background-color: #243464;
    border-bottom: 1px solid #070a14;
    @include box-shadow(1);
    position: relative;

    .header {
        @include content-width($content-width);

        .title {
            float: left;
            text-shadow: $text-shadow;
            font-size: 1.3em;
            display: inline-block;
            margin: 0;
            line-height: 2;
        }

        .nav {
            float: right;
            line-height: 1.3*2;     // match line-height of title

            .nav-link {
                color: $text-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @extend %clearfix;
    }

}
