.header-wrapper {
    background-color: #101830;
    border-bottom: 1px solid #070a14;
    @include box-shadow(1);
    position: relative;

    .header {
        @include content-width($content-width);

        .title {
            float: left;
            text-shadow: $text-shadow;
            font-size: 1.3em;
            display: inline-block;
            margin: 0;
            height: $header-height;
            line-height: $header-height;

            a {
                color: #FCFCFC;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .nav {
            float: right;
            height: $header-height;

            .nav-list {
                height: $header-height;
            }

            .nav-item {
                height: $header-height;

                a {
                    color: $text-color;
                    text-decoration: none;
                    font-size: 17px;
                    line-height: 17px;
                    display: inline-block;
                    padding: ($header-height - 17px)/2 $spacing-unit/2;

                    &:hover {
                        background-color: lighten(#101830, 15%);
                    }
                }
            }
        }

        @extend %clearfix;
    }

}
