.radio-info-panel {
    padding: $spacing-unit/2;
    margin: $spacing-unit/2;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(120, 120, 120, 0.2), inset 0 1px 5px rgba(0, 0, 0, 0.1);
    position: relative;

    .column-wrapper {
        .column:not(:last-child) {
            margin-bottom: $spacing-unit/2;
        }
    }

    .info-label {
        display: block;
        font-size: 0.8em;
        color: darken($text-color, 22%);
    }

    .info-content {
        display: block;
        width: 100%;

        &.input-field {
            margin-top: 5px;
        }
    }

    .download-button-wrapper {
        text-align: center;
        .default-button {
            margin-top: $spacing-unit/2;
            margin-right: $spacing-unit/4;
            margin-left: $spacing-unit/4;
        }
    }

    @include media-query($medium-breakpoint) {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;

        .column-wrapper {
            display: flex;

            .column {
                flex: 1;

                &:not(:last-child) {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

