.radio-info-panel {
    padding: $spacing-unit/2;
    margin: $spacing-unit/2 $spacing-unit/2 0px $spacing-unit/2;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(120, 120, 120, 0.2), inset 0 1px 5px rgba(0, 0, 0, 0.1);

    .column-wrapper {
        .column {
            margin-bottom: $spacing-unit/2;
        }
    }


    .info-label {
        display: block;
        font-size: 0.8em;
        color: darken($text-color, 22%);
    }

    .info-content {
        display: block;
        width: 100%;

        &.input-field {
            margin-top: 5px;
        }
    }

    @include media-query($medium-breakpoint) {
        margin: $spacing-unit/2 $spacing-unit 0px $spacing-unit;

        .column-wrapper {
            display: flex;

            .column {
                flex: 1;
            }
        }
    }
}

