html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    line-height: $line-height-ratio;
    color: $text-color;
    background-color: $body-bg-color;
}
