html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $line-height-ratio;
    color: $text-color;
    background-color: $body-bg-color;
}

button, input, select, textarea {
  font: inherit;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;

    li {
        display: inline;
    }
}
