@mixin media-query($device) {
    @media all and (min-width: $device) {
        @content;
    }
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
