@charset "utf-8";

$text-color: #F9F9F9;
$body-bg-color: #212737;
$accent-color: #E85A7F;

$text-shadow: 1px 1px 2px #111;

$base-font-family: 'Verdana', 'Helvetica', 'sans-serif';
$base-font-size: 17px;
$line-height-ratio: 1.6;

$spacing-unit: 30px;
$content-width: 900px;

$medium-breakpoint: 768px;
